/*----------Variables----------*/

:root {
    --color-primary: #EBEBEB;
    --color-secondary: #ffffff;
    --color-accents: #00AADA;
}

/*----------Header----------*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    /*vertical-align: baseline;
    overflow: visible;*/
}

body {
    background-color: var(--color-primary);
}

header {
    width: 100%;
    height: 5em;
}

.header__container {
    width: 100%;
    height: 100%;

    background-color: var(--color-secondary);

    display: grid;

    grid-template-columns: auto 200px auto;

    gap: 5px;
}

.navigation {
    grid-column: 2;

    height: 100%;
    align-items: center;

    display: flex;

    justify-content: space-around;

    flex-direction: row;
    gap: 20px;   
}

.header__logo {
    position: absolute;
    left: 3em;


    height: 5em;
    width: 200px;
}

.logo__img {
    height: 4em;
    width: 4em;

    margin-top: 0.5em;

    object-fit: scale-down;
}
